<!DOCTYPE html>
<html>
  <head>
    <title>RestHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<h1> THIS IS BEFORE </h1>
    <%= yield %>

<h1> THIS IS AFTER YIELD </h1>
  </body>
</html>
